/* *,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
} */

/********** Colour reference chart*********
*************************** colour *******/ 
:root {
    --blue: rgb(78, 125, 155);
    --light-blue: rgb(108, 167, 204);
    --grey: rgb(161,164,167);
    --green: rgb(79,173,67);
  }

/* setting body background */
html,body{
    color: black;
    background-color: rgb(235, 235, 235);
    background-image: url("../Images/people.jpg");
    background-blend-mode: overlay;
    background-repeat: repeat;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.header, .main, .footer { 
	max-width: 1080px; 
    margin: 0 auto; 
}
  
/* styling the header */
.header{
    background-color:var(--blue);
    flex: 0 1 auto;
    width: 100%;
}
.banner{
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;
}
.logo{
    margin:5px;
    padding:2px;
    background-color:white;
    color: white;
}
.logo img{
    height: 90px;
}
.name{
    margin:5px;
    padding:2px;
    color: white;
}
.menu{
    margin: 0 20px; 
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
.menu li {
    float: left;
    width: 150px;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    background-color: var(--light-blue);
}
.menu li a:hover:not(.active) {
    background-color: var(--blue);
}
.menu .active {
    background-color: var(--green);
}
/* styling the main */
.main{  
    flex: 1 1 auto;
    background-color: white;
    width: 100%;
}
.about{
    position: relative;
}
.photo{
    float: left;
}
.brand-statement{
    max-width: 600px;
}
  
/* styling the footer */
.footer{
    flex: 0 1 auto;
    width: 100%;
}

/* setting footer styles */
.footer .copyright-social-media {
    margin: 0 auto;
    height: 40px;
    background-color:rgb(78, 125, 155);
    display: flex;
    justify-content: center; /* For horizontal alignment */
    align-items: center; /* For vertical alignment */
}
  
/* social media div */
.footer, .footer .copyright-social-media a{
    font-size: 20px;
    color: white;
}
.footer .copyright-social-media a{
    padding-left: 10px;
    text-decoration: none;
}
.footer .copyright-social-media a:hover{
    color: var(--green);
}