body{
    background-color: rgb(235, 235, 235);
    height: 100%;
}
header .navbar-brand{
    background-color: teal;
    color: #fff !important;
    font-size: 40px;
    font-weight: 800;
    font-family: 'Palatino', 'URW Palladio L', serif;
}

main{
    margin-top: 100px;
}
main .primary{
    background-color: white;
    width: 600px;
    padding: 30px;
}
main h1{
    padding-left: 15px;
    color: teal;
    font-size: 70px;
    font-weight: 800;
    font-family: 'Palatino', 'URW Palladio L', serif;
}
main img {
    float: left;
    margin-right:15px;
}

main .col-md-6{
    margin-bottom: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    line-height: 100px;
    background-color: rgb(102, 102, 102);
    color:  rgb(108, 117, 125);
}
footer .green {
    background-color: teal;
    height: 10px;
}
footer .gray {
    background-color: rgb(102, 102, 102);
    padding: 15px 0;
    text-align: center;
}

@media screen and (max-width: 768px) {
    body {
      background-color: red;
    }
    header .navbar-brand{
        background-color: red;
        color: #fff !important;
        font-size: 40px;
        font-weight: 800;
        font-family: 'Palatino', 'URW Palladio L', serif;
    }
  
    /* .wrapper {
      width: 100%;
      padding: 20px;
    }
    
    #main-content,
    #sidebar {
      width: 100%;
    }
    #sidebar {
      margin-top: 40px;
    } */
}

@media screen and (max-width: 400px) {
    /* The body's bg color will be #333 */
    body {
      background-color: #333;
    }
}