/********** Colour reference chart*********
*************************** colour *******/ 
:root {
    --blue: rgb(78, 125, 155);
    --light-blue: rgb(108, 167, 204);
    --grey: rgb(161,164,167);
    --green: rgb(79,173,67);
    --title: rgb(195, 110, 41);
  }

/* setting body background */
html,body{
    color: black;
    background: rgb(235, 235, 235) ;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Muli', sans-serif;
}
.header, .main, .footer { 
	max-width: 1080px; 
    margin: 0 auto; 
}
  
/* styling the header */
.header{
    background-color:var(--blue);
    flex: 0 1 auto;
    width: 100%;
}
.banner{
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;
}
.logo{
    margin:5px;
    padding:2px;
    background-color:white;
    color: white;
}
.logo img{
    height: 90px;
}
.name{
    margin:5px;
    padding:2px;
    color: white;
}
.menu{
    margin: 0 20px; 
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
.menu li {
    float: left;
    width: 130px;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    background-color: var(--light-blue);
}
.menu li a:hover:not(.active) {
    background-color: var(--green);
}
.menu .active {
    background-color: var(--green);
}
/* styling the main */
.main{  
    flex: 1 1 auto;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.main-body{
    padding: 10px;
    margin: 0;
    width: 650px;
}
.title{
    text-align: center;
    background-color: var(--title);
}
/* Home/about page styles */
.photo{
    text-align: center;
}
.photo img{
    width: 300px;
    height: 300px;
}
.brand-statement{
    max-width: 600px;
}
.about{
    max-width: 600px;
}
/* Contact page styles */
.form-group{
    margin: 10px 0;
}
.contact label{
    display: block;
    margin: 10px 0;
}
.form-control{
    width: 100%;
    padding: 10px 0;
}
.btn {
    width: 100%;
    background-color: var(--blue);
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .btn:hover {
    background-color: var(--green);
  }
  .feedback{
      color: red;
  }

/* social media div */
.details .copyright-social-media {
    padding: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center; /* For horizontal alignment */
    align-items: center; /* For vertical alignment */
}
.details a{
    font-size: 50px;
    color: var(--blue);
}
.details a{
    padding-left: 10px;
    text-decoration: none;
}
.details a:hover{
    color: var(--green);
}

/* portfolio media div */
.portfolio li, .kiwicodes li{
    padding-bottom: 10px;
}
.portfolio-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.portfolio {
    margin:20px;
    padding:20px;
    width: 450px;
}
.portfolio img{
    height: 250px;
    width: 380px;
    border: 1px solid var(--blue);
}
.zoom{
    text-align: center;
    padding: 0px 0px;
    transition: transform .2s; 
    margin: 0 auto;
}
.zoom:hover {
    transform: scale(2); 
}

.hobby-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.hobby-image {
    width: 450px;
}

.hobby-image img {
    width: 350px;
    height: 350px;
}

/* styling the footer */
.footer{
    flex: 0 1 auto;
    width: 100%;
}

/* setting footer styles */
.footer .copyright-social-media {
    margin: 0 auto;
    height: 40px;
    background-color:rgb(78, 125, 155);
    display: flex;
    justify-content: center; /* For horizontal alignment */
    align-items: center; /* For vertical alignment */
}
  
/* social media div */
.footer, .footer .copyright-social-media a{
    font-size: 20px;
    color: white;
}
.footer .copyright-social-media a{
    padding-left: 10px;
    text-decoration: none;
}
.footer .copyright-social-media a:hover{
    color: var(--green);
}